/* For desktop: */

body {
  font-family: 'Arial';font-size: 16px;
  margin: 0px.0px.0px.0px;
  text-align: center;
}

h1 {
  font-family: 'Roboto';font-size: 48px;
}

h2 {
  font-family: 'Roboto';font-size: 24px;
}

a {
  font-family: 'Arial';font-size: 16px;
  text-decoration: none;
  color: #008cff;
  -webkit-transition: 0.3s; /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transition: 0.3s; /* IE 9 */
  -o-transition: 0.3s; /* Opera Presto 2.7 */
  transition: 0.3s; /* Firefox 16+, IE 10+, Opera */
}

a:hover {
  text-decoration: none;
  color: #a0bdd6;
}

.button {
  background-color: #13b5eb;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
 }

#container {
  max-width: 960px;
  background-color: white;
  margin: auto;
}

#info{
  margin-bottom: 45px;
}

#aboutme {
  clear:both;
  margin-bottom:50px;
}

.box {
  width: 33.20%%;
  height: auto;
  float: left;
}

.box2 {
  width: 50%;
  height: auto;
  float: left;
}

.box .insert {
  padding: 5px 5px 5px 1px;
  text-align: center;
}

#portfolio {
  margin: auto;
  text-align: center;
}

#portfolio img {
  width: 100%;
  max-width: 320px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  -webkit-transition: 0.3s; /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transition: 0.3s; /* IE 9 */
  -o-transition: 0.3s; /* Opera Presto 2.7 */
  transition: 0.3s; /* Firefox 16+, IE 10+, Opera */
}

#portfolio .box img:hover {
  -webkit-filter: brightness(105%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-filter: brightness(105%); /* IE 9 */
  -o-filter: brightness(105%); /* Opera Presto 2.7 */
  filter: brightness(105%); /* Firefox 16+, IE 10+, Opera */
  border-color: #C0C0C0;
}

#page_footer {
  text-align: center;
}

@media only screen and (max-width: 640px) {
  /* For mobile phones: */

body {
font-family: 'Arial';font-size: 14px;
}

h1 {
  font-family: 'Roboto';font-size: 32px;
}

h2 {
  font-family: 'Roboto';font-size: 20px;
}

.button {
  background-color: #13b5eb;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

#container {
  max-width: 320px;
  background-color: white;
  margin: auto;
}

#info{
  margin-bottom: 25px;
}

#aboutme {
  clear:both;
  margin-bottom:0px;
}

#portfolio .box img:hover {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(100%); /* Safari 6.0 - 9.0 */
  filter: brightness(100%);
  border-color: white;
}

.box {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 0px;
  float: none;
  text-align: center;
}

.box2 {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 0px;
  float: none;
  text-align: center;
}

.box .insert {
  padding: 5px 5px 5px 1px;
  text-align: center;
}

}
